@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px; /*dar um espaçamento no topo do titulo*/
    /*----text-transform: uppercase;---- deixa todo o texto em maiusculo*/ 
    font-variant: small-caps;/* letras maiusculas, porem a primeira é maior*/
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration:none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    /*Caso queira limitar essa configuração de link, utilize da maneira abaixo
    header a, footer a {}
    e header a:hover, footer a:hover {}*/
}
section { /*configuração geral para a box section*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.281);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}